<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--authoriazation code를 얻어오기 위한 간단한 코드-->
<a href="https://github.com/login/oauth/authorize?client_id=86fc35fdaf29999dcded&scope=email&redirect_uri=http://localhost:8080/login/oauth2/code/github">Github
    Login</a><br>
<a href="https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email&client_id=586425104922-9d6vrvjkncq158aeu0gon6ipobln6jkj.apps.googleusercontent.com&response_type=code&redirect_uri=http://localhost:8080/login/oauth2/code/google&access_type=offline">Google
    Login</a><br>
<a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=83lZcr9dJCEsE6H18g_Z&redirect_uri=http://localhost:8080/login/oauth2/code/naver">Naver
    Login</a><br>
<a href="https://kauth.kakao.com/oauth/authorize?client_id=2e73508a53ba1108841a05a1612720fd&redirect_uri=http://localhost:8080/login/oauth2/code/kakao&response_type=code">Kakao
    Login</a>
</body>
</html>